In [1]:
# Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
import pandas as pd
import numpy as np

df = pd.read_csv('2017_jun.csv')

# Прочитайте отриману таблицю, використовуючи метод head
print(df.head)

<bound method NDFrame.head of          N                    Посада Мова програмування Спеціалізація  \
0        1        Junior QA engineer                NaN     Manual QA
1        2        Junior QA engineer                NaN     Manual QA
2        3         Software Engineer            C#/.NET           NaN
3        4         Software Engineer         JavaScript           NaN
4        5  Senior Software Engineer         JavaScript           NaN
...    ...                       ...                ...           ...
8699  8700               QA engineer                NaN     Manual QA
8700  8701                 Marketing                NaN           NaN
8701  8702  Junior Software Engineer         Ruby/Rails           NaN
8702  8703                 Team lead                NaN           NaN
8703  8704  Senior Software Engineer               Java           NaN

     Загальний досвід роботи Досвід роботи на поточному місці  \
0                        0.5                              0.5
1            менше 3 місяців                  менше 3 місяців
2                          4                                1
3                          5                                4
4          10 і більше років                              0.5
...                      ...                              ...
8699                       1                  менше 3 місяців
8700                     0.5                              0.5
8701                       1                              0.5
8702                       6                                4
8703                       7                                2

      Зарплата на місяць  Зміна зарплати за 12 місяців   Місто  \
0                    400                             0  Харків
1                    430                           130  Харків
2                   2500                           800    Київ
3                   2000                           400   Одеса
4                   4500                           500    Інше
...                  ...                           ...     ...
8699                 700                           700   Одеса
8700                 400                           120    Київ
8701                 800                           500   Львів
8702                2600                             0  Дніпро
8703                5000                           800   Одеса

       Розмір компанії  ... Ще студент                    Рівень англійської  \
0           до 10 осіб  ...       True    Pre-intermediate (нище середнього)
1     більше 1000 осіб  ...       True  Upper-Intermediate (вище середнього)
2         до 1000 осіб  ...      False               Intermediate (середній)
3          до 200 осіб  ...      False    Pre-intermediate (нище середнього)
4           до 10 осіб  ...      False               Intermediate (середній)
...                ...  ...        ...                                   ...
8699        до 50 осіб  ...      False               Intermediate (середній)
8700        до 50 осіб  ...      False    Pre-intermediate (нище середнього)
8701        до 10 осіб  ...      False  Upper-Intermediate (вище середнього)
8702  більше 1000 осіб  ...      False                 Advanced (просунутий)
8703      до 1000 осіб  ...      False  Upper-Intermediate (вище середнього)

                      Предметна область      Дата заповнення  \
0                         iOS,eCommerce  12/06/2017 12:38:08
1                          Веб-розробка  12/06/2017 12:42:51
2     Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3     Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4     Desktop Applications,Веб-розробка  12/06/2017 13:03:47
...                                 ...                  ...
8699       Android,Desktop Applications  12/07/2017 15:45:24
8700                          eCommerce  12/07/2017 17:00:06
8701  Веб-розробка,Корпоративні системи  12/07/2017 17:32:26
8702                 Фінанси та банкінг  12/07/2017 18:14:59
8703                       Веб-розробка  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
0       400    NaN   QA
1       430    NaN   QA
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
...     ...    ...  ...
8699    700    NaN   QA
8700    400    NaN  NaN
8701    800    NaN  DEV
8702   2600    NaN   PM
8703   5000    NaN  DEV

[8704 rows x 25 columns]>

In [131]:
# Визначте розмір таблиці за допомогою методу shape

print(f"Розмір таблиці: {df.shape}")

Розмір таблиці: (8704, 25)

In [132]:
# Визначаємо типи всіх стовпців
print(df.dtypes)

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [133]:
# Видаляємо зазначені стовпці
df = df.drop(columns=["Спеціалізація", "Університет", "Предметна область", "Валюта", "cls"], axis=1)
print(df.head())

# Підрахунок частки пропусків у кожній колонці
missing_percentages = (df.isnull().sum() / len(df)) * 100
print(missing_percentages)
# Визначаємо розмір таблиці після видалення рядків з пропусками
print(df.shape)

   N                    Посада Мова програмування Загальний досвід роботи  \
0  1        Junior QA engineer                NaN                     0.5
1  2        Junior QA engineer                NaN         менше 3 місяців
2  3         Software Engineer            C#/.NET                       4
3  4         Software Engineer         JavaScript                       5
4  5  Senior Software Engineer         JavaScript       10 і більше років

  Досвід роботи на поточному місці  Зарплата на місяць  \
0                              0.5                 400
1                  менше 3 місяців                 430
2                                1                2500
3                                4                2000
4                              0.5                4500

   Зміна зарплати за 12 місяців   Місто   Розмір компанії   Тип компанії  \
0                             0  Харків        до 10 осіб  Аутсорсингова
1                           130  Харків  більше 1000 осіб  Аутсорсингова
2                           800    Київ      до 1000 осіб  Аутсорсингова
3                           400   Одеса       до 200 осіб     Продуктова
4                           500    Інше        до 10 осіб     Продуктова

      Стать  Вік             Освіта  Ще студент  \
0    жіноча   20       Неповна Вища        True
1    жіноча   21       Неповна Вища        True
2  чоловіча   26               Вища       False
3  чоловіча   30            Середня       False
4  чоловіча   30  Технікум / Коледж       False

                     Рівень англійської      Дата заповнення  \
0    Pre-intermediate (нище середнього)  12/06/2017 12:38:08
1  Upper-Intermediate (вище середнього)  12/06/2017 12:42:51
2               Intermediate (середній)  12/06/2017 13:02:47
3    Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4               Intermediate (середній)  12/06/2017 13:03:47

                                          User.Agent   exp  current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5

   salary
0     400
1     430
2    2500
3    2000
4    4500
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Ще студент                           0.000000
Рівень англійської                   0.000000
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
dtype: float64
(8704, 20)

In [134]:
# Видаляємо всі рядки з пропусками, крім стовпця "Мова програмування"
df = df.dropna(subset=['Мова програмування'])

# Підрахунок частки пропусків у кожній колонці після видалення рядків
missing_percentages = (df.isnull().sum() / len(df)) * 100
print(missing_percentages)

# Визначаємо новий розмір таблиці за допомогою методу shape
print(df.shape)
print(df.head)

N                                   0.0
Посада                              0.0
Мова програмування                  0.0
Загальний досвід роботи             0.0
Досвід роботи на поточному місці    0.0
Зарплата на місяць                  0.0
Зміна зарплати за 12 місяців        0.0
Місто                               0.0
Розмір компанії                     0.0
Тип компанії                        0.0
Стать                               0.0
Вік                                 0.0
Освіта                              0.0
Ще студент                          0.0
Рівень англійської                  0.0
Дата заповнення                     0.0
User.Agent                          0.0
exp                                 0.0
current_job_exp                     0.0
salary                              0.0
dtype: float64
(4854, 20)
<bound method NDFrame.head of          N                    Посада Мова програмування  \
2        3         Software Engineer            C#/.NET
3        4         Software Engineer         JavaScript
4        5  Senior Software Engineer         JavaScript
6        7  Junior Software Engineer            C#/.NET
7        8  Senior Software Engineer                C++
...    ...                       ...                ...
8692  8693         Software Engineer               Java
8694  8695  Junior Software Engineer            C#/.NET
8695  8696         Software Engineer             Python
8701  8702  Junior Software Engineer         Ruby/Rails
8703  8704  Senior Software Engineer               Java

     Загальний досвід роботи Досвід роботи на поточному місці  \
2                          4                                1
3                          5                                4
4          10 і більше років                              0.5
6                          1                  менше 3 місяців
7                          6                                1
...                      ...                              ...
8692                       5                                1
8694                       1                                1
8695                       1                              0.5
8701                       1                              0.5
8703                       7                                2

      Зарплата на місяць  Зміна зарплати за 12 місяців         Місто  \
2                   2500                           800          Київ
3                   2000                           400         Одеса
4                   4500                           500          Інше
6                    600                           100  Хмельницький
7                   3300                           500          Київ
...                  ...                           ...           ...
8692                3500                           650     Віддалено
8694                 550                           550        Харків
8695                1500                          1000          Київ
8701                 800                           500         Львів
8703                5000                           800         Одеса

     Розмір компанії   Тип компанії     Стать  Вік             Освіта  \
2       до 1000 осіб  Аутсорсингова  чоловіча   26               Вища
3        до 200 осіб     Продуктова  чоловіча   30            Середня
4         до 10 осіб     Продуктова  чоловіча   30  Технікум / Коледж
6         до 50 осіб  Аутсорсингова  чоловіча   23               Вища
7         до 10 осіб     Продуктова  чоловіча   28               Вища
...              ...            ...       ...  ...                ...
8692     до 200 осіб  Аутсорсингова    жіноча   28               Вища
8694     до 200 осіб  Аутсорсингова  чоловіча   23               Вища
8695      до 10 осіб        Стартап  чоловіча   29               Вища
8701      до 10 осіб  Аутстафінгова  чоловіча   30       Неповна Вища
8703    до 1000 осіб     Продуктова  чоловіча   28               Вища

      Ще студент                    Рівень англійської      Дата заповнення  \
2          False               Intermediate (середній)  12/06/2017 13:02:47
3          False    Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4          False               Intermediate (середній)  12/06/2017 13:03:47
6          False    Pre-intermediate (нище середнього)  12/06/2017 13:04:26
7          False  Upper-Intermediate (вище середнього)  12/06/2017 13:04:27
...          ...                                   ...                  ...
8692       False               Intermediate (середній)  12/07/2017 13:26:49
8694       False    Pre-intermediate (нище середнього)  12/07/2017 14:14:33
8695       False               Intermediate (середній)  12/07/2017 14:39:21
8701       False  Upper-Intermediate (вище середнього)  12/07/2017 17:32:26
8703       False  Upper-Intermediate (вище середнього)  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]>

In [145]:
# Створюємо нову таблицю python_data з рядками, де "Мова програмування" == "Python"
python_data = df[df['Мова програмування'] == 'Python']

# Визначаємо розмір таблиці python_data за допомогою методу shape
print(f"Розмір таблиці python_data: {python_data.shape}")

# Використовуємо метод groupby для групивання за стовпчиком "Посада"
grouped_data = python_data.groupby('Посада')

# Виводимо перші рядки групи 'Посада'
# for name, group in grouped_data:
#     print(f"Група '{name}':")
#     print(group.head())

Розмір таблиці python_data: (207, 20)

In [151]:
# Створюємо функцію для обчислення середньої зарплати
def fill_avg_salary(group):
    return group['Зарплата на місяць'].mean()

# Виконуємо агрегацію даних за допомогою методу agg і знаходимо мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_data = grouped_data['Зарплата на місяць'].agg(['min', 'max'])

# Застосовуємо функцію fill_avg_salary та створюємо новий стовпчик "avg"
aggregated_data['avg'] = grouped_data.apply(fill_avg_salary)

# Створюємо описову статистику за допомогою методу describe для нового стовпчика "avg"
avg_stats = aggregated_data['avg'].describe()

# Виводимо статистику
print(avg_stats)

# Виводимо агреговані дані
print(aggregated_data)

count       5.000000
mean     2582.583427
std      1387.255829
min       560.841270
25%      1799.070000
50%      3165.909091
75%      3387.096774
max      4000.000000
Name: avg, dtype: float64
                           min   max          avg
Посада
Junior Software Engineer   100  1250   560.841270
Senior Software Engineer  1300  9200  3387.096774
Software Engineer          500  5400  1799.070000
System Architect          3000  5000  4000.000000
Technical Lead            1425  6200  3165.909091

In [152]:
# Збереження агрегованої таблиці в CSV файл
aggregated_data.to_csv('aggregated_data.csv', index=False)

In [154]:
df2 = pd.read_csv('aggregated_data.csv')

# Прочитайте отриману таблицю, використовуючи метод head
print(df2)

    min   max          avg
0   100  1250   560.841270
1  1300  9200  3387.096774
2   500  5400  1799.070000
3  3000  5000  4000.000000
4  1425  6200  3165.909091